body{
    font:15px Arial, sans-serif;;
    line-height:21px;
    background-color: #EBEDE7;
    text-shadow: 1px 1px 1px #FFFFFF;

    color: #333;
    -webkit-font-smoothing: antialiased; 
    -webkit-text-size-adjust: 100%;
}

header {
    margin-bottom:10px;
    background-color: #D7E6B8;
    background: -moz-linear-gradient(center top , #F8F8F8, #D7E6B8) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #B5B09A;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration:none;
}

ul {
    list-style-type:none;
}


#footer {
    text-align:right;
    color:#777;
    padding:5px;
    font-size:13px;
    margin:7px 0 7px 0;
}

#maincontent{
    background:#f7f7f7;
}

#maincontent h1,#maincontent  p{
    padding:5px;
}

h1,h2, h3, h4, h5 {
    margin:5px 0 7px 0;
    font-weight:bold;
    color: #000000;
}

h1 {font-size:20px; line-height: 23px;}
h2 {font-size:18px; line-height: 21px;}
h3 {font-size:17px; line-height: 21px;}
h4 {font-size:16px; line-height: 21px;}
h5 {font-size:16px; line-height: 18px;}

input, button, select {
    font-size:15px;
}

.box, .boxbig {
    margin:12px 1px 12px 1px;
    background-color:#F2F1E3;
    padding:4px;
    border:1px solid #B5B09A;
    webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; 

    -webkit-box-shadow: 0 1px 2px #bbb;
    -moz-box-shadow: 0 1px 2px #bbb;
    box-shadow: 0 1px 2px #bbb; 
}

.boxbig {
    padding: 12px;
    background-color:#fcfcfc;
}

.box h3 {
    font-size: 14px; 
}
.btn {
    background-color: #006DCC;
    background-image: -moz-linear-gradient(center top , #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px 5px 5px 5px;
    font-size: 15px;
    line-height: normal;
    padding: 9px 14px;
}

.nav, .navtop {
    color: #FFFFFF;
    margin: 7px 1px 7px 1px;
    padding:3px;
}

.nav ul, .navtop ul
{
    list-style-type:none;
    margin:0;
    padding:0;
}
.nav li, .navtop li
{
    display:inline-block;
    line-height: 30px;
}
.nav li a
{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 
    color:#fff;
    background-color:#4B83BE;
    padding:4px 6px;
    font-size:14px;
    text-shadow: 1px 1px 1px #222;
}
.nav li a:hover, .navtop li a:hover 
{
    background-color:#79AA63;
}

.navtop li a
{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 
    color:#fff;
    background-color:green;
    padding:4px 6px;
    font-size:14px;
    text-shadow: 1px 1px 1px #222;
}

footer {
    color: #777;
    font-size: 12px;
    margin: 15px 0 0 0;
    padding: 5px 0 0 0;
    text-align: right;
}

#latlongmap {
    border:  3px solid #A49D7B;
    margin-bottom: 12px;
}

.latlong {
    text-align: center;
}
.latlong input[type="text"] {
    text-align: center;
    width: 140px;
    font-size: 18px;
}

.latlongover {
    text-align: left;
}
.latlongover label { display: inline-block; width: 42px; text-align: right;}
.latlongover input[type="text"] {
    text-align: center;
    width: 120px;
    font-size: 16px;
}

#address {
    margin:12px 0;
    font-size: 18px;
}

input[readonly="readonly"]
{
    background-color:#f7f7f7;
}

.toright {float:right;}
.loading {height: 32px; width: 134px; text-align: center; line-height: 34px; color: #777;
          background-image: url('../images/loading.gif');
          background-repeat: no-repeat;
          background-position: left center;
          float:  right;
}

#frmaddplace { padding: 10px;}
.success {
    background-color: #DFF0D8;
    border:1px solid #D6E9C6;
    color: #468847;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 

    margin: 10px 5px;
    padding: 10px;
}

.warning {
  background-color: #F2DEDE;
  border:1px solid #EED3D7;
  color: #B94A48;
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  margin: 10px 5px;
    padding: 10px;
}

.grey, .user { color:#777;}

table {
    width: 100%; margin-bottom:16px;
}
tr {
    border-bottom: 1px dotted #B5B09A;
}
tr:hover {background-color: whitesmoke;}
td, th {padding: 5px; vertical-align: middle;}
th {font-weight: bold; text-align: left;}

#breadcrumb {
    margin: 3px;
}
#breadcrumb div {
    float: left;
    margin: 2px;
}

.infodiv {
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
  border: 1px solid #999999;
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  float: left;
  font-size: 1em;
  line-height: 24px;
  margin: 5px 2px;
  padding: 2px;
  text-align: center;
  width: 124px;
}
.descriptioncontent {
    background-color: #FFFEF5;
    border: 1px solid #D7CEA2;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 21px;
}
.infobg {
    background-color: #FFFEF5;
}


.pagination {
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0;
}

.pagination > a, .pagination > span {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #FFFFFF;
  border-color: #DDDDDD;
  border-image: none;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  float: left;
  line-height: 20px;
  padding: 4px 12px;
  text-decoration: none;
}

.pagination .active > a, .pagination .active > span {
  color: #999999;
  cursor: default;
}
.pagination  a:hover, .pagination .active > a, .pagination  .active > span {
  background-color: #F5F5F5;
}
